.btn {
  border: none;
  background-color: inherit;
  padding: 1px 1px;
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {background: #eee;}

.success {color: green;}