{% extends "base.html" %}

{% block content %}
    <!--
    <div class="row">
        <div class="col-11 text-left">Top Stocks</div>
        <div class="col-1 text-right">X</div>
    </div>
    -->
    <!-- <form id="searchform" action="search/" method="get">
        <input type="text" name="q" type="text"/>
        <button type="button" onclick="searchform.submit()">Search</button>
    </form> -->
    <table class="table table-hover data-table">
        <tr>
            <th>#</th>
            <th>Symbol</th>
            <th>Name</th>
            <th>Price</th>
            <th>Change</th>
        </tr>
        {% for stock in data %}
            <tr class="clickable-row" data-href="/stock/{{ stock.symbol }}">

                <td>{{ forloop.counter }}</td>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.price|floatformat:2 }}</td>
                <td class="
                {% if stock.change_percent >= 0 %}
                    text-success
                {% else %}
                    text-danger
                {% endif %}
                ">{{ stock.change_percent|floatformat:2 }}%</td>

            </tr>
        {% endfor %}
    </table>
{% endblock %}